* {
    background-color: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    display: flex;
}

.title-projects {
    flex: 1 1 auto;
}

#top > .title {
    flex: 3 1 auto;
}

#top > .projects {
    background-color: black;
    padding: 20px;
    color: #DDDDDD;
    text-align: center;
}