* {
    background-color: #eeeeee;
}

.header {
    height: 50px;
    background: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
    margin: 0 0 0 32px;
}

.header * {
    background: royalblue;
}

.header .navigation {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
    margin: 0 32px 0 0;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation li {
    font-size: 18px;
}